    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <img src="{{product.thumbnail}}" alt="{{product.title}} thumbnail" class="card-img-top img-fluid mx-auto d-block" style="width: 350px;">
                    <div class="card-header">
                        Detalle del Producto
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{product.price}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/" class="btn btn-primary btn-block">Volver a Todos los Productos</a>
            </div>
        </div>
    </div>